
<h1> Re.Ra.Ku Linkへようこそ</h1>


<h2>Re.Ra.Ku Linkとは?</h2>
<div class= "description">
   <div> Re.Ra.Ku LinkとはRe.Ra.Kuで働くスタッフが自由に発信できるSNSです。</div>
   <div>プライベートなことから他のCLPに役立つ情報などを共有して、気軽にRe.Ra.Kuのみんなで繋がりましょう♪</div>
</div>

   <div class="start_reraku_link">
   <% unless @current_user %>
    <%= link_to("Re.Ra.Ku Linkをはじめる","/sign_up",class:"link_to") %>
   <% end %>
   </div>
